@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

#box-div {
  padding: 40px;
}

.city-data{
  border-top: 1px solid #fff;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

#search-button {
  margin-left: 10px;
}

div[name="div-box-wheater"] {
  display: none;
}

.country-icon{
  margin-right: 10px;
}

#div-menssage-error {
  margin-top: 20px;
  display: none;
  align-items: center;
}

.main-card {
  background: linear-gradient(65deg, #d9d93f, gray);
  width: 30%;
  min-width: 300px;
}

main {
  background-image: linear-gradient(to right, rgb(1, 21, 26), rgb(8, 13, 43));
}

.title {
  letter-spacing: -0.75px;
}

#form-input {
  position: relative;
  width: 100%;
}

#form-input label {
  position: absolute;
}

#form-input input {
  border: rgb(6, 9, 25) 1px solid;
  width: 100%;
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
  background-color: #eee;
  outline: none;
}


#form-input label {
  left: 6px;
  top: 6px;
}

#form-input input:focus~label {
  top: -10px;
  display: none;
  background-color: transparent;
}